@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <h2>Administration Area: Home/Index</h2>

    <a asp-action="Index" asp-controller="Home" asp-route-area="">Main page</a>

</body>
</html>
