@model IEnumerable<string>

<p>
    Movies sent from a <strong>view component</strong>:
    <ul>
        @foreach (string movie in Model) {
            <li style="margin-left:30px;">@movie</li>
        }
    </ul>
</p>







