
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>ViewBag</h2>
    <ul>
        <li>@ViewBag.Movie (@ViewBag.Year)</li>
    </ul>

</body>
</html>
