
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Lesson 11: Model Validation</h2>
    <ul>
        <li><a asp-action="CreateBooking">Create Booking</a></li>
        <li><a asp-action="PersonRegistration">Register User</a></li>

    </ul>

</body>
</html>
