@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Lesson05.Models.Person
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>

    @*<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin: 2em;
        }

        .form-group {
            width: 400px;
        }
    </style>

</head>
<body>

    <div class="container">
        <h1>Checkout</h1>

        <form asp-action="Index" asp-controller="Person">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
            </div>

            <div class="form-group">

                <label asp-for="BirthDay"></label>
                
                <input class="form-control" asp-for="BirthDay" id="BirthDate" />
            </div>

            <div class="form-group">
                <label asp-for="Country"></label>
                <select asp-for="Country" asp-items="ViewBag.CountryList"></select>
            </div>


            @*<div class="form-group">
                <label asp-for="Note"></label>
                <textarea asp-for="Note"></textarea>
                </div>*@


            &nbsp;<br />



                <input type="submit" value="Send" class="btn btn-default" />



        </form>


    </div>
</body>
</html>
