@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

<h2>Lesson 3 Examples</h2>
<div style="padding-bottom:2em">
    <a href="http://eaaabackend.dk">Home</a>
</div>
<ul>
    <li>@Html.ActionLink("Static member", "Index", "Example00")</li>
    <li>@Html.ActionLink("Example 1", "Index", "Example01")</li>
    <li>@Html.ActionLink("Example 2", "Index", "Example02")</li>
    <li>@Html.ActionLink("Example 3", "Index", "Example03")</li>
</ul>