@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using lesson03_examples.Models;
@model IEnumerable<Person>
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}
<h2>Example 03</h2>
<div style="padding-bottom:2em">
    <a asp-controller="Home">Home</a>
</div>

<ul>
    @foreach (Person p in Model)
    {
        <li>@p.</li>
    }
</ul>


